<h2>Register</h2>

<%# Comment %>



<%= form_for @users do |bt| %>
   <%= bt.label :name, "Name" %>
   <%= bt.text_field :name %>
   
   <%= bt.label :password, "Password" %>
   <%= bt.password_field :password %>
   
   <%= bt.label :phone, "Phone" %>
   <%= bt.text_field :phone %>

   
   <%= bt.submit "Register" %>


<% end %>


