<div class="spaceitout">
<div id="better">

<h1> <%= @user.name + "\'s Books" =%> </h1>
<table> 
           <tbody>
                    <tr colspan="2">
                        <% @books.each do |x| %>
                            <tr>
                                        <table>
                                             <div class="spaceitout">
                                    <div id="entrybetter">
                                            <div class="entry-top">
                                                <tr>
                                                    <th colspan="2", class="entry-top">
                                                        <h2><%= link_to x.title, book_path(x), method: :get %></h2>
                                                    </th>
                                                </tr>
                                            </div>
                                                <tr>
                                                    <td rowspan="3", class="imagetable">
                                                         <%= image_tag(x.image_url(:thumb).to_s) %>  
                                                    </td>
                                                    <td>
                                                        <%= "ISBN: " + x.isbn %>
                                                    </td>
                                                </tr>         
                                                <tr>
                                                    <td>
                                                        <%= "$" + x.price %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <% if logged_in? %>
                                                            <% if current_user.id == x.user_id %>
                                                                <%= button_to 'Delete', x, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary"  %>
                                                            <% else %>
                                                                <%= x.user.name %>
                                                            <% end %>
                                                        <%else%>
                                                            <%= x.user.name %>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                            </div>

                                    </div>
                                </div>
                                                                        </table>
                            </tr>

                        <% end %>
                    </tr>
                </tbody>
</table>
</div>
</div>