<div class="spaceitout">
<div id="better">
<h2><%= @user.name %> </h2>



<h2> <%= @user.name %> Books</h2>
<table> 
 <tbody>
                    <tr colspan="2">
                        <% @books.each do |x| %>
                            <td>
                                <div class="spaceitout">
                                    <div id="entrybetter">
                                        <table>
                                            <div class="entry-top">
                                                <tr>
                                                    <th colspan="2">
                                                        <%= link_to x.title, book_path(x), method: :get %>
                                                    </th>
                                                </tr>
                                            </div>
                                                <tr>
                                                    <td rowspan="3">
                                                         <%= image_tag(x.image_url(:thumb).to_s) %>  
                                                    </td>
                                                    <td>
                                                        <%= "ISBN: " + x.isbn %>
                                                    </td>
                                                </tr>         
                                                <tr>
                                                    <td>
                                                        <%= "$" + x.price %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <%= "Sold by: " + x.user.name %>
                                                    </td>
                                                </tr>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        <% end %>
                    </tr>
                </tbody>
</table>
</div>
</div>