<h2> Our Books</h2>
<table width = 100%>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
    </tr>
    
<%= @books.each do |x| %>
    <tr>
    <td><%= x[:title] %></td>
    <td><%= x[:author] %></td>
    <td><%= x[:isbn] %></td>
    </tr>
<% end %>
</table>

<br/>
<%= link_to "delete", @book, method: :delete %>

<br />

    <a href="/">Add Book Posting</a>