
<h2> Books for Sale</h2>

<%= form_for "",url: books_path, role: "search", method: :get do %> 
  <p>
    <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
  </p>
<% end %>

<table border="1">
    <tbody>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Added by</th>
            <th>Phone Number</th>

        </tr>
        
        <%= @books.each do |x| %>
            <tr>
                <td><%= x.title %></td>
                <td><%= x.isbn %></td>
                <td><%= @users.find_by_id(x.user).name unless @users.find_by_id(x.user).nil?%></td>
                <td><%= @users.find_by_id(x.user).phone unless @users.find_by_id(x.user).nil?%></td>
                <% if logged_in? %>
                    <td><%= button_to 'Delete', x, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
