
<h2> Books for Sale</h2>

<table border="1">
<h2> Our Books</h2>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Added by</th>
        <th>Phone Number</th>

    </tr>
    
<%= @books.each do |x| %>

        <td><%= x.title %></td>
        <td><%= x.isbn %></td>
        <td><%= @users.find_by_id(x.user).name unless @users.find_by_id(x.user).nil?%></td>
        <td><%= @users.find_by_id(x.user).phone unless @users.find_by_id(x.user).nil?%></td>
        <td><%= link_to 'Delete', x, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
<% end %>




    <a href="/">Add Book Posting</a>