<h2>Add a Book</h2>

<%# Comment %>



<%= form_for @books do |bt| %>
   <%= bt.label :title, "Title" %>
   <%= bt.text_field :title %>
   
   <%= bt.label :isbn, "ISBN" %>
   <%= bt.text_field :isbn %>

   <%= bt.collection_select(:user_id, User.all, :id, :name, :include_blank => "Please select") %>
   <%= bt.submit "Add posting" %>


<% end %>

<br>
<a href="/index">Our Books</a>
