
<div class="spaceitout">
<div id="better">

<h2> Books for Sale</h2>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jq-2.2.3/dt-1.10.12/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/zf/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>

<div class="table-book">
<table id="bookDisplay" class="table table-striped table-bordered table-hover sortable" cellspacing="0" width="100%"> 
    <thead>
        <tr>
            <th colspan="2">
                <% if logged_in? %>
                    <a href="/new">Add a Book</a>
                <% else %>
                    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-primary" %>
                <%end %>
                </th>
            <th colspan="2">
                <form class="pull-right">
                    <div class="input-group">
                        <%= form_tag books_path, :method => :get do %> 
                            <%= text_field_tag :search, params[:search], placeholder: "Search Books", class: 'form-control' %>
                            <span class="input-group-btn">
                               <%= submit_tag "Search", class: 'btn btn-default' %>
                            </span>
                        <% end %>
                    </div>
                </form>
            </th>
        </tr>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Added by</th>
            <% if logged_in? %>
                <th>Action</th>
            <% end %>
        </tr>
    </thead>
    <tbody>    
        <% @books.each do |x| %>
            <tr>
                <td><%= image_tag(x.image_url(:thumb).to_s) %></td>
                <td><%= x.title %></td>
                <td><%= x.isbn %></td>
                <td><%= "$" + x.price %></td>
                <td><%= @users.find_by_id(x.user).name unless @users.find_by_id(x.user).nil?%></td>
                <% if logged_in? %>
                    <% if current_user.id == x.user_id %>
                        <td><button onclick="alert('Are you sure?')"><%= button_to 'Delete', x, method: :delete, data: {confirm: 'Are you sure?'} %></button></td>
 
                    <% else %>
                        <td><%= button_to 'More info', book_path(x) %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
    
</table>
</div>

<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, :container => false %>
  </div>
</div>
</div>
