<h2>Add a Book</h2>

<%# Comment %>

<table border="1">
    <tbody>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Added by</th>
            <th>Phone Number</th>

        </tr>
        
        <%= @books.each do |x| %>
            <tr>
                <td><%= x.title %></td>
                <td><%= x.isbn %></td>
                <td><%= @users.find_by_id(x.user).name unless @users.find_by_id(x.user).nil?%></td>
                <td><%= @users.find_by_id(x.user).phone unless @users.find_by_id(x.user).nil?%></td>
                <td><%= button_to 'Delete', x, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
    </tbody>
</table>


<%= form_for @books do |bt| %>
   <%= bt.label :title, "Title" %>
   <%= bt.text_field :title %>
   
   <%= bt.label :isbn, "ISBN" %>
   <%= bt.text_field :isbn %>

   <%= bt.collection_select(:user_id, User.all, :id, :name, :include_blank => "Please select") %>
   <%= bt.submit "Add posting" %>


<% end %>

<br>
<a href="/index">Our Books</a>
