<h2>Add a Book</h2>

<%# Comment %>

<%= form_for @books do |bt| %>
   <%= bt.label :title, "Title" %>
   <%= bt.text_field :title %>
   
   <%= bt.label :isbn, "ISBN" %>
   <%= bt.text_field :isbn, maxlength: 13, minlength: 10, size: 30  %>
   
   <%= bt.submit "Add posting" %>


<% end %>

<br>
<a href="/index">Our Books</a>
