<div class="spaceitout">
<div id="better">
<table>
    <tr>
        <td rowspan="3">
             <%= image_tag(@books.image_url(:thumb).to_s) %>  
        </td>
        <td>
            <%= @books.title %>
        </td>
        <td>
            <%= @books.user.name %>
        </td>
    </tr>
    <tr>
        <td>
            <%= @books.isbn %>
        </td>
        <td>
            <%= @books.description %>
        </td>
    </tr>         
    <tr>
        <td>
            <%= @books.subject %>
        </td>
        <td>
            <%= @books.condition %>
        </td>
        </td>
    </tr>
</table>
<p>Posted by </p><%= link_to @books.user.name, user_path(@books.user),  method: :get %>
<br>
</div>
</div>