<div class="spaceitout">
<div id="better">
<table>
    <th colspan="3">
        <%= @books.title %>
    </th>
    <tr>
        <td rowspan="3", class="imagetable">
             <%= image_tag(@books.image_url(:thumb).to_s) %>  
        </td>
        <td>
            <%= "ISBN: " + @books.isbn %>
        </td>
        <td>
            <%= "$" + @books.price %>
        </td>
    </tr>
    <tr>
        <td>
            <%= "Condition: " + @books.condition %>
        </td>
        <td>
            <%= link_to @books.user.name, user_path(@books.user),  method: :get %>
        </td>
    </tr>         
    <tr>
        <td>
            <%= "Subject: " + @books.subject %>
        </td>
        <td>
            <%= "Description: " + @books.description %>
        </td>
        </td>
    </tr>
</table>
</div>
</div>