<div class="spaceitout">
<div id="better">
<table>
    <tr>
        <td>
             <%= @books.image %>     
        </td>
        <td>
            <tr>
                <td>
                    <%= @books.title %>
                </td>
                <td>
                    <%= @books.user.name %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= @books.isbn %>
                </td>
                <td>
                    <%= @books.description %>
                </td>
            </tr>         
            <tr>
                <td>
                    <%= @books.subject %>
                </td>
                <td>
                    <%= @books.condition %>
                </td>
            </tr>
        </td>
    </tr>
</table>


<%= @books.price %>
<br>
<%= @books.isbn %>
<br>
<%= @books.subject %>
<br>
<%= @books.condition %>
<br>
<%= @books.description %>

<br>
<p>Posted by </p><%= link_to @books.user.name, user_path(@books.user),  method: :get %>
<br>
</div>
</div>