<!DOCTYPE html>
<html>
<head>
  <title>Textbook Exchange</title>
  <%= stylesheet_link_tag 'books' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag asset_path('if_longico-23_214848.png'), :rel => 'icon', :type =>  'image/png' %>
<<<<<<< HEAD
  <h1> Booklub</h1>
=======
  <h1>Dis be Textbookz Eschange</h1>
  <p>bookbookbookbookbookbookbookbookbookbookboookbookbokobkookbokokbook</p>
  <a href="/home">Our Books</a>
  <a href="/users">Our Users</a>
>>>>>>> 93a909a07d84395832d4cc8228f134c807eebcff
  <p>_______________________________________________________________</p>
</head>
<body>

<%= yield %>


</body>

</html>
